/// Colores principales de la web
/// @group colores
$colors: (
    primary: #ff0000,
    primary-800:#ff000083,
    secondary:#ffffff, 
    secondary-800:#ffffffcc, 
    tertiary:#1b0000,
    tertiary-dark: #000000,
    tertiary-light: #575757,
    selected: #80fb5b,
    bg-panel: #2e0000,

);
/// Función para devolver un color declarado en el mapa
/// @param {string} $color 
/// @return {color} color - en hexadecimal
/// @group colores

@function color($color){
    @return map-get($colors,$color);
}

/// Anchuras principales de la web
/// @group anchura
$font-weights:(
    "light":200,
    "regular": 400,
    "bold":700
);

/// Función para devolver anchuras declaradas en el mapa
/// @param {string} $weigth 
/// @return {ancho} anchura de letra
/// @group anchura
@function width($wigth){
    @return map-get($font-weights,$wigth);
}

/// Tamaños principales de la web
/// @group tamaños
$font-sizes:(
    xxl:6rem,
    xl:3rem,
    lg:2.5rem,
    md:2rem,
    sm:1.8rem,
    xs:1.6rem
);

/// Función para devolver el tamaño declarado en el mapa
/// @param {size} $size 
/// @return {tamaño} devuelve el tamaño del mapa
/// @group tamaños
@function size($size){
    @return map-get($font-sizes,$size);
}