.submenu{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    button{
        width: 90%;
        background-color: transparent !important;
        color: $primary !important;
    }
    .active{
        background-color: darken($bg-panel,10%) !important;
        color: $primary !important;
    }
    &:not(.show) {
        display: none;
    }
    .coloreado{
        background-color: darken($bg-panel,10%) !important;
        color: $primary !important;
    }
}
.coloreado{
    background-color: $primary !important;
    color: white !important;
}